html, body {
  margin: 0;
}
@keyframes slide {
    0% { transform: translate3d(0,0,0); }
  100% { transform: translate3d(-100%,0,0); }
}
#contributors {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
#contributors .row {
  position: absolute;
  height: 72px;
  overflow: visible;
}
#contributors .row:hover {
  z-index: 20;
}
#contributors .slide {
  transform: translate3d(0,0,0); /* hint to prefer gpu rending. */
  animation: slide 60s ease-out both 0s infinite alternate;
  animation-play-state: paused;
}
#contributors .slide.running {
  animation-play-state: running;
}
#contributors .slide.running:hover {
  animation-play-state: paused;
}
#contributors .hex {
  display: inline-block;
  width: 60px;
  height: 72px;
  opacity: 0;
  transition: opacity 300ms ease-in, transform 100ms ease-out;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#contributors .hex.show {
  opacity: 1;
  position: relative;
  z-index: 0;
}
#contributors .hex.show:hover {
  transform: scale(1.2);
  z-index: 10;
}
#contributors .holding-pen {
  height: 0;
  overflow: hidden;
}
